@page
@model WebShopAdminApplication.Pages.AuthModel
@{
}

<form method="post" asp-page="Auth">
    <table>
        <tr>
            <td>Username</td>
            <td><input type="text" asp-for="@Model.Username" /></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" asp-for="@Model.Password" /></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td><input type="submit" value="Login" /></td>
        </tr>
        <tr>
            <td>Зарегистрироваться?</td>
            <td><input type="checkbox" asp-for="@Model.IsRegistration" /></td>
        </tr>
        @if (!string.IsNullOrEmpty(Model.Message))
        {
            <tr>
                <td colspan="2"><p style="color:red">@Model.Message</p></td>
            </tr>
        }
    </table>
</form>