@page "{id:int}"
@model WebShopAdminApplication.Pages.EditCategoryModel
@{
}

<h1>Редактирование категории</h1>
<form method="post">
    <div asp-validation-summary="All"></div>
    <input asp-for="Category.Id" type="hidden" />

    <label asp-for="Category.Name">Название</label>
    <input asp-for="Category.Name" />

    <label asp-for="Category.Name">Родительская категория</label>
    <select asp-for="Category.ParentId" asp-items="Model.AllCategories"></select>

    <button type="submit">Сохранить</button>
</form>