<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://igoradamenko.github.io/awsm.css/css/awsm.min.css" />
</head>
<body>
    <header>
        <nav>

            <ul>
                <li>
                    <a asp-page="Index" asp-route-categoryId="">Главная</a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <div class="container">&copy; 2022 - Каталог</div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>